<%- include('../partials/header') %>
<main>
  <h1>Change Password</h1>
  <form action="/account/change-password" method="post">
    <label for="account_password">New Password</label>
    <input type="password" id="account_password" name="account_password" required>

    <button type="submit">Change Password</button>
  </form>
</main>
<%- include('../partials/footer') %>
