
<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <h6 class="copyright">&copy; <%= year %>, CSE 340 App</h6>
  <a href="/inv/trigger-error" title="Trigger Error">Error Link</a>
</footer>
