<% 
  const d = new Date();
  let year = d.getFullYear(); 
%>
<footer>
  <p class="copyright">&copy; <%= year %>,2025 CSE Motors. CSE 340 App. All rights reserved</p>
      <p>Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Instagram</a></p>
</footer>
