<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Ezenwoke Uchechukwu Promise">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= title %> | CSE 340 App</title>
<link rel="stylesheet" href="/css/styles.css">

<!-- Optional: favicon, fonts, or accessibility-related tags -->
<link rel="icon" href="/favicon.ico">
