<nav role="navigation" aria-label="Primary navigation">
  <ul class="main-nav">
    <li><a href="/" title="Go to Home page">Home</a></li>
    <li><a href="/custom" title="View Custom cars">Custom</a></li>
    <li><a href="/sedan" title="View Sedan cars">Sedan</a></li>
    <li><a href="/suv" title="View SUV cars">SUV</a></li>
    <li><a href="/truck" title="View Truck cars">Truck</a></li>
  </ul>
</nav>
