<% if (title) { %>
  <h1 class="grid-header"><%= title %></h1>
  
  <%- messages() %>
  <a href="/favorites/add/<%= vehicle.inv_id %>" class="btn">Add to Favorites</a>
  
  <%- detail %>
<% } else { %>
  <p>Invalid vehicle information. Please go back to the <a href="/">home page</a>.</p>
<% } %>
