<h1 class="error-title"><%= title %></h1>
<div class="error-container">
    <div class="error-icon">
        <img src="/images/site/broken.svg" alt="Icon of a broken wheel" />
    </div>
    <div class="error-message"><%- message %></div>
</div>